body {
    font-family: 'Lora', serif;
    background-color: #f7e1d7;
    margin: 0;
    padding: 0;
    color: #333;
}

h1 {
    text-align: center;
    font-family: 'Pacifico', sans-serif;
}

.intro {
    text-align: center;
    font-size: 1.2em;
}

.calendar {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin: 30px;
}

.month-box {
    background-color: #f0f0f0;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.month-box:hover {
    background-color: #f7c5d3;
}

.book-info {
    display: none;
    margin-top: 10px;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    color: #fff; /* Ensures the text is visible on the colored background */
}
